/*
 * Android
 * Por: Leandromeda (Leandro Gaudio Rosa)
 */

div {margin: o; padding: 0;}
div div {background: #A4CA39; position: relative;}

.androidG{
	height: 404px; width: 334px;
	margin: 100px auto;
	position: relative;
float: left;
left: 4em;
}

.headG{
	position: relative;
	width: 220px; height: 100px;
	top: 32px;
	border-radius: 110px 110px 0 0;
	-moz-border-radius: 110px 110px 0 0;
	-webkit-border-radius: 110px 110px 0 0;
	
	-webkit-transition: all 0.1s ease-in;
}

.left_eyeG, .right_eyeG {
	background: #fff;
	width: 20px; height: 20px;
	position: absolute; top: 42px;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.left_eyeG {left: 50px;}
.right_eyeG {right: 50px;}

.left_antG, .right_antG{
	width: 6px; height: 50px;
	position: absolute; top: -34px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.left_antG {
	left: 50px;
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
}

.right_antG {
	right: 50px;
	transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.bodyG{
	width: 220px; height: 184px;
	top: 40px;
	border-radius: 0 0 25px 25px;
	-webkit-border-radius: 0 0 25px 25px;
	-moz-border-radius: 0 0 25px 25px;
}

.left_armG, .right_armG, .left_legG, .right_legG {
	width: 50px; position: absolute;
	-webkit-transition: all 0.1s ease-in;
}

.left_armG, .right_armG {
	height: 150px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
}

.left_legG, .right_legG {
	height: 80px; top: 182px;
	border-radius: 0 0 25px 25px;
	-moz-border-radius: 0 0 25px 25px;
	-webkit-border-radius: 0 0 25px 25px;
}

.left_armG {left: -58px;}
.right_armG {right: -58px;}
.left_legG {left: 45px;}
.right_legG {right: 45px;}

.headG:hover {
	-webkit-transform: rotate(-5deg) translate(-4px, -8px);
	-transform: rotate(-5deg) translate(-4px, -8px);
	-moz-transform: rotate(-5deg) translate(-4px, -8px);
}

.left_armG:hover{
	-webkit-transform: rotate(30deg) translate(-30px, 0);
	-transform: rotate(30deg) translate(-30px, 0);
	-moz-transform: rotate(30deg) translate(-30px, 0);
}

.right_armG:hover{
	-webkit-transform: rotate(-30deg) translate(30px, 0);
	-transform: rotate(-30deg) translate(30px, 0);
	-moz-transform: rotate(-30deg) translate(30px, 0);
}

/*
* Android2
*/

.androidR{
	height: 404px; width: 334px;
	margin: 100px auto;
	position: relative;
float: left;
left: 5em;
}

.headR{
	background: rgb(255, 84, 232);
	position: relative;
	width: 220px; height: 100px;
	top: 32px;
	border-radius: 110px 110px 0 0;
	-moz-border-radius: 110px 110px 0 0;
	-webkit-border-radius: 110px 110px 0 0;
	
	-webkit-transition: all 0.1s ease-in;
}

.left_eyeR, .right_eyeR {
	background: #fff;
	width: 20px; height: 20px;
	position: absolute; top: 42px;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.left_eyeR {left: 50px;}
.right_eyeR {right: 50px;}

.left_antR, .right_antR{
	width: 6px; height: 50px;
	position: absolute; top: -34px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.left_antR {
	background: rgb(255, 84, 232);
	left: 50px;
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
}

.right_antR {
	background: rgb(255, 84, 232);
	right: 50px;
	transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.bodyR{
	width: 220px; height: 184px;
	top: 40px;
	background: rgb(255, 84, 232);
	border-radius: 0 0 25px 25px;
	-webkit-border-radius: 0 0 25px 25px;
	-moz-border-radius: 0 0 25px 25px;
}

.left_armR, .right_armR, .left_legR, .right_legR {
	background: rgb(255, 84, 232);
	width: 50px; position: absolute;
	-webkit-transition: all 0.1s ease-in;
}

.left_armR, .right_armR {
	height: 150px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
}

.left_legR, .right_legR {
	height: 80px; top: 182px;
	border-radius: 0 0 25px 25px;
	-moz-border-radius: 0 0 25px 25px;
	-webkit-border-radius: 0 0 25px 25px;
}

.left_armR {left: -58px;}
.right_armR {right: -58px;}
.left_legR {left: 45px;}
.right_legR {right: 45px;}

.headR:hover {
	-webkit-transform: rotate(-5deg) translate(-4px, -8px);
	-transform: rotate(-5deg) translate(-4px, -8px);
	-moz-transform: rotate(-5deg) translate(-4px, -8px);
}

.left_armR:hover{
	-webkit-transform: rotate(30deg) translate(-30px, 0);
	-transform: rotate(30deg) translate(-30px, 0);
	-moz-transform: rotate(30deg) translate(-30px, 0);
}

.right_armR:hover{
	-webkit-transform: rotate(-30deg) translate(30px, 0);
	-transform: rotate(-30deg) translate(30px, 0);
	-moz-transform: rotate(-30deg) translate(30px, 0);
}

/*
* Android3
*/

.androidB{
	height: 404px; width: 334px;
	margin: 100px auto;
	position: relative;
float: left;
left: 6em;
}

.headB{
	background: rgb(84, 87, 255);
	position: relative;
	width: 220px; height: 100px;
	top: 32px;
	border-radius: 110px 110px 0 0;
	-moz-border-radius: 110px 110px 0 0;
	-webkit-border-radius: 110px 110px 0 0;
	
	-webkit-transition: all 0.1s ease-in;
}

.left_eyeB, .right_eyeB {
	background: #fff;
	width: 20px; height: 20px;
	position: absolute; top: 42px;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.left_eyeB {left: 50px;}
.right_eyeB {right: 50px;}

.left_antB, .right_antB{
	width: 6px; height: 50px;
	position: absolute; top: -34px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.left_antB {
	background: rgb(84, 87, 255);
	left: 50px;
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
}

.right_antB {
	background: rgb(84, 87, 255);
	right: 50px;
	transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.bodyB{
	width: 220px; height: 184px;
	top: 40px;
	background: rgb(84, 87, 255);
	border-radius: 0 0 25px 25px;
	-webkit-border-radius: 0 0 25px 25px;
	-moz-border-radius: 0 0 25px 25px;
}

.left_armB, .right_armB, .left_legB, .right_legB {
	background: rgb(84, 87, 255);
	width: 50px; position: absolute;
	-webkit-transition: all 0.1s ease-in;
}

.left_armB, .right_armB {
	height: 150px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
}

.left_legB, .right_legB {
	height: 80px; top: 182px;
	border-radius: 0 0 25px 25px;
	-moz-border-radius: 0 0 25px 25px;
	-webkit-border-radius: 0 0 25px 25px;
}

.left_armB {left: -58px;}
.right_armB {right: -58px;}
.left_legB {left: 45px;}
.right_legB {right: 45px;}

.headB:hover {
	-webkit-transform: rotate(-5deg) translate(-4px, -8px);
	-transform: rotate(-5deg) translate(-4px, -8px);
	-moz-transform: rotate(-5deg) translate(-4px, -8px);
}

.left_armB:hover{
	-webkit-transform: rotate(30deg) translate(-30px, 0);
	-transform: rotate(30deg) translate(-30px, 0);
	-moz-transform: rotate(30deg) translate(-30px, 0);
}

.right_armB:hover{
	-webkit-transform: rotate(-30deg) translate(30px, 0);
	-transform: rotate(-30deg) translate(30px, 0);
	-moz-transform: rotate(-30deg) translate(30px, 0);
}